@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050505;
  min-height: 100vh;
}

/* Neon Effects */
.text-glow {
  text-shadow: 0 0 10px rgba(0, 243, 255, 0.7);
}

.box-glow {
  box-shadow: 0 0 20px rgba(255, 0, 85, 0.2);
}
